body{
    font-family: 'Quicksand', sans-serif;
}
.justify-content-space-between{
    justify-content:    space-between;
}
.bg-light{
    background-color: #f5f5f5;
}


.pp{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.pp img{
    width: 100%;
}
.pp-detail{
    font-weight: bold;
    color: #a6a6a6;
}
.user-top .time{
    color: #a6a6a6;
}

.pp-detail bold{
    color: #78c8ef;
}
.btn-bg-none{
    background-color: transparent;
    outline: none;
    border: none;
}
.font-weight-bold{
    font-weight: bold !important;
}
.text-primary-cc{
    color: #79c6eb;
}
.bg-primary-cc{
    background-color: #039be5;
}
