.justify-content-space-between{
    justify-content:    space-between;
}

.card{
    width: 18rem
}
.card-img, .card-img-top{
    height: 180px;
}
.btn-bg-none{
    background-color: transparent;
    outline: none;
    border: none;
}
.pp{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.pp img{
    width: 100%;
}
.mr-s{
    margin-right: 10px;
}

body{
     font-family: 'Quicksand', sans-serif;
}
.card-text{
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    transition: all .3s;
    max-height: 100vh;
}
.card-text.hide-content{
    max-height: 0px;
    overflow: hidden;
    padding: 0;
}

.card-sub-title{
    font-size: 14px;
    margin-bottom: 0;
    color: #b1b1b1;
}
.card-title{
    margin-bottom: 0;
}
.btn-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #56bbeb;
    font-weight: bold;
    padding: 0;
}
.btn-link:hover{
    color: #56bbeb;
}
.btn-link:focus{
    outline: none;
    box-shadow: none;
}
.btn-link:active{
    outline: none;
    color: #56bbeb;
}
.font-size-14{
    font-size: 14px;
}
.name{
    font-size: 14px;
}
.mins{
    font-size: 12px;
    margin-top: -5px;
}

.fas.fa-chevron-down{
    transition: all .3s;
}
.fas.fa-chevron-down.up{
    transform: rotate(180deg);
    transition: all .3s;
}