body{
    font-family: 'Quicksand', sans-serif;
}
.justify-content-space-between{
    justify-content:    space-between;
}
.tp-blue{
    background-color: #1a2c4a;
    height: 500px;
}
.text-sub{
    width: 500px;
    margin: auto;
}
.top-title{
    padding-top: 80px;
}
.w-300{
    width: 250px;
    padding: 10px;
}
.fw-normal{
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
}
.save{
    font-size: 12px;
}
.card{
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    transition: all .3s;
}
.card:hover{
    transform: scale(1.05);
}
.card-header{
    border-radius: 0 !important;
    background-color: #3c4252;
    color: #fff;
}
.pricing-card-title{
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
    font-size: 60px;
}
.pricing-card-title sup{
    top: -40px;
    font-size: 14px;
    color: #c0c1c1 !important;
    padding-right: 5px;
}

.pricing-card-title small{
    font-size: 14px;
}
.bg-light{
    background-color: #f5f5f5;
}
.list-unstyled li{
    text-align: left;
    font-size: 14px;
}

.btn-primary{
    background-color: #039be5;
    color: #fff;
    font-size: 12px;
    border: none;
}
.card-body{
    margin-bottom: 15px;
}
.btn-primary:hover{
    background-color: #039be5;
}
.btn-primary:focus{
    outline: none;
    background-color: #039be5;
    box-shadow:none;
}
.btn-primary:active{
    outline: none;
    background-color: #039be5;
    box-shadow:none;
}
.ttl{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
}